body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang TC", "PingFang SC", "PingFang HK", "Microsoft JhengHei", sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0px;
}


/* 通用css */

h1 {
    font-size: 40px;
    font-weight: 400;
}

.text-white {
    color: white;
}

.text-yellow {
    color: #FFD366;
}

/* 個別css */

.top-section {
    background-image: url(img/Hero.png) ;
    background-size: cover;
    background-position: top;
    height: 380px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#district-select {
    max-width: 452px;
    width: 100%;
    height: 48px;
    font-size: 18px;
    background: rgba(255,255,255,0.70);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
}

.content-section {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 0px 20px 40px 20px;
}

.tag-bar {
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
    padding: 20px 24px;
    margin-top: -20px;
    
}

.tag-bar .title {
    font-size: 18px;
    padding-bottom: 14px;
}

.tag-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag {
    min-width: 130px;
    color: white;
    padding: 12px 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.tag:hover {
    opacity: 0.8;
}

.divider {
    border-top: 1px dotted #559AC8;
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
    margin-bottom: 75px;
}

.content-title {
    color: #8A82CC;
    font-size: 36px;
}

.content-list {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 950px;
    gap: 16px;
}

.content-card {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    max-width: 464px;
    width: 100%;
    height: auto;
}

.content-card .top {
    width: 100%;
    height: 155px;
    background-size: cover;
    display: flex;
    align-items: end;
}

.content-card .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 52px;
    width: 100%;
    padding: 14px 22px;
    color: white;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.54) 100%);
}

.content-card .content .title {
    font-size: 24px;
}

.content-card .content .district {
    font-size: 16px;
}

.content-card .bottom {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.info-group .icon {
    width: 18px;
    height: 18px;
    text-align: center;
}

.info-text {
    font-size: 16px;
}


.pagination {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}
.pagination button {
    padding: 5px 10px;
    color: #4A4A4A ;
    font-size: 14px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

.pagination button:hover {
    color: #559AC8;
}

.footer {
    background-color: #559AC8 ;
    height: 90px;
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
}